<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A secure web application to manage inventory and user accounts. Features include user registration, item addition, and admin controls.">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
         <!-- Display error message -->
         <% if (errorMessage) { %>
            <div class="alert alert-warning">
              <%= errorMessage %>
            </div>
        <% } %>
        <form id="login-form" action="/login" method="post" class="login-form">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Create one here</a></p>
        
        <!-- Error message container -->
        <div id="error-message"></div>
    </div>

    <!-- External JS File -->
    <script src="/js/login.js"></script>
</body>
</html>
